/*empty container css */

.accordion-section{
    background-color:#8b9e6c;
    color: #3d230f;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;

}

.accordion {
    display: grid;
    /* justify-content: center; */
    gap: 12px;
}
.accordion-item:target > .accordion-content{
    display: block;
    /* max-height: 500px; */
    /* overflow: auto; */
    background-color: #c8b197
}
/* .accordion-item:target, accordion-item:target> .accordion-content{
    max-height: 500px;
    overflow: auto;
} */
.accordion-item{
    display: grid;
    /* grid-template-rows: auto 0; */
}

.accordion-header{
    background-color: #c8b197;
     padding: 12px;
     cursor: pointer;
     display: grid;
     grid-template-columns: 1fr auto;
 }


.accordion-content{
    display: none;
    padding: 12px;
    /* max-height: 500px;
    overflow: hidden; */
    /* transition: max-height 0.3s ease; */
    
}

a{
    color: #3d230f;
}

a:link{
    text-decoration: none;
}

a:visited{
    color: #3d230f;
}
/* mobile */
@media screen and (min-width: 390px){ 
    .container {
        max-width: 100%;
    }
}
/* Laptop */
@media screen and (min-width: 1248px) {
    .accordion-item {
        max-width: 60%;
    }
}





