.footer {
    background: 
    linear-gradient(to bottom right,
    rgba(139, 158, 108, 0.9),
    rgba(112, 133, 74, 0.3));
    color: #3d230f;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 0;
    text-align: center;
    z-index: 1;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.footer-info {
    margin-bottom: 25px;
}

.footer-link {
    text-decoration: none;
    color: #3d230f;
}

.footer-links {
    margin-bottom: 25px;
}

/*Copyright*/
.footer-bottom {
    margin-top: 20px;
    font-weight: 500;
    text-align: center;
}

/*Tablet and Desktop Media Query*/
@media screen and (min-width: 768px) {
.footer {
    text-align: left;}

.footer-content {
    flex-direction: row;
    justify-content: space-between;}

.footer-bottom {
    padding-bottom: 10px;
}
}