.hero-banner{
    display: grid;
    align-items: center;
}

.hero-text{
    text-align:center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);   
    /* font-family: Montserrat, Helvetica, Arial, sans-serif; */
    font-family: "Playwrite PL", cursive;
    font-weight: 400;
    font-size: 30px;
    color: #f9ffef;
}
.explore-button{
    background-color: #3d280f;
    height: 50px;
    width: 500px;
    color: #f9ffef;
    text-align:center;
    text-decoration: none;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);   
    border: 1px solid transparent;
    border-radius: .25rem;
}

/* https://www.pexels.com/photo/brown-ceramic-pots-2162938/ */
