.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8b9e6c; 
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s,box-shadow 0.3s;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.logo {
  flex: 1;
}

.logo img {
  width: 100%; 
  max-width: 100px; 
  height: auto; 
}

.logo img {
  max-width: 100px; 
  height: auto; 
}

.nav {
  flex: 1; 
  text-align: right; 
}

.nav-list {
  display: none; 
}

.nav-list-mobile {
  display: flex; 
  gap: 5px; 
  list-style-type: none; 
}

.fa-solid {
  color: #3d230f;
  font-size: 20px;
  margin-left: 12px;
}
.nav-item {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 500; 
  margin-left: 35px;
}

.nav-item a,
.nav-mobile-item a {
  color: #3d230f;
  text-decoration: none;
}

.nav-item a:hover,
.nav-mobile-item a:hover {
  color: #f4eBD7;
}

/*Tablet and Desktop Media Query*/
@media screen and (min-width: 768px) {
  .logo img {
    max-width: 200px; 
    height: auto; 
  }
  .nav-list {
      display: flex; 
      justify-content: flex-end;
      font-size: 20px;
      list-style-type: none; 
  }
  
  .nav-list-mobile {
      display: none;
  }
}